<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body style="background-color:#2c3338;">
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <p>  <br><br><br><br> </p>
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up <small>DNA chat!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" method="POST">
                            {% csrf_token %}

			    			<div class="form-group">
                                <input type="text" name="username" id="username" class="form-control input-sm" placeholder="User Name" required>
                                <p></p>
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" required>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password2" id="password2" class="form-control input-sm" placeholder="Password2" required>
			    					</div>
			    				</div>
			    			</div>

			    			<input type="submit" value="Register" class="btn btn-info btn-block">
                            {% for message in messages %}
                                <li style="color: #FF4500 " class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
</body>